This is my implementation of decision tree,
I took help to learn the mathematics behind it fwe have a table format data with 4 attributes and 10 values for each attributeswe have to 1st select our target variable,

1.we select profit as a target variable,
2.we have to find the Information Gain(I_G) of target attributes
3.we have to find the entropy of the other 3 attributes as any of those will become the root node 
4.entropy_of_an_attributes=information gain(I_G)of each attributes*probabilty
5.gain=Information Gain(I_G) of target attributes - entropy_of_an_attributes

formulas:
    
    I_G = - P/P+N * log2(P/P+N) - N/P+N * log2(N/P+N)
    
    E(A)=  Î£ P[i]N[i]/(P+N) * I(P[i]N[j])
    
    gain= I_G(profit) - E(A)

In [247]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Data to DataFrame

In [248]:
dic={"age":["old","old","old","mid","mid","mid","mid","new","new","new"],"comp":["yes","no","no","yes","yes","no","no","yes","no","no"],"type":["s/w","s/w","h/w","s/w","h/w","h/w","s/w","s/w","h/w","s/w"],"profit":["down","down","down","down","down","up","up","up","up","up"]}

In [249]:
df=pd.DataFrame(dic)

In [250]:
df

   age comp type profit
0  old  yes  s/w   down
1  old   no  s/w   down
2  old   no  h/w   down
3  mid  yes  s/w   down
4  mid  yes  h/w   down
5  mid   no  h/w     up
6  mid   no  s/w     up
7  new  yes  s/w     up
8  new   no  h/w     up
9  new   no  s/w     up

# making Contingency table of each attributes and target attributes(profit)

here I am taking attribute age and target profit

In [251]:
contingency_table_1=pd.crosstab(df["age"],df["profit"],margins=False)

In [252]:
contingency_table_1

profit  down  up
age
mid        2   2
new        0   3
old        3   0

here I am taking attribute comp and target profit

In [253]:
contingency_table_2=pd.crosstab(df["comp"],df["profit"],margins=False)

In [254]:
contingency_table_2

profit  down  up
comp
no         2   4
yes        3   1

here I am taking attribute type and target profit

In [255]:
contingency_table_3=pd.crosstab(df["type"],df["profit"],margins=False)

In [256]:
contingency_table_3

profit  down  up
type
h/w        2   2
s/w        3   3

# Finding Information gain of profit

In [258]:
p=sum(contingency_table_1["down"])
n=p=sum(contingency_table_1["up"])
total=sum(contingency_table_1.sum())
I_G_target= - ( (p/(p+n)) * np.log2(p/(p+n))  +  (n/(p+n)) * np.log2(n/(p+n) )   )

In [259]:
print(I_G_target)

1.0

# Finding Entropy of each attribute

entropy of age attribute

In [261]:
a=contingency_table_1
at=a.T
lis1=list(at.index)
lis2=list(at.columns)
total_sum=sum(at.sum())
I_G_Total_1=[]
l1=[]
for i in lis2:
    l2=[]
    for j in lis1:
        l2.append(at[i][j])
        
    p=l2[0]
    n=l2[1]
    I_G = - ( (p/(p+n)) * np.log2(p/(p+n))  +  (n/(p+n)) * np.log2(n/(p+n) )   )
    E=(p+n)/total_sum
    I_G_Total_1.append(I_G*E)
   
    l1.append((l2,I_G*E))

In [262]:
I_G_Total_1

[0.4, nan, nan]

entropy of comp attribute

In [264]:
a=contingency_table_2
at=a.T
lis1=list(at.index)
lis2=list(at.columns)
total_sum=sum(at.sum())
I_G_Total_2=[]
l1=[]
for i in lis2:
    l2=[]
    for j in lis1:
        l2.append(at[i][j])
        
    p=l2[0]
    n=l2[1]
    I_G = - ( (p/(p+n)) * np.log2(p/(p+n))  +  (n/(p+n)) * np.log2(n/(p+n) )   )
    E=(p+n)/total_sum
    I_G_Total_2.append(I_G*E)
   
    l1.append((l2,I_G*E))

In [265]:
I_G_Total_2

[0.5509775004326937, 0.32451124978365314]

entropy of type attribute

In [266]:
a=contingency_table_3
at=a.T
lis1=list(at.index)
lis2=list(at.columns)
total_sum=sum(at.sum())
I_G_Total_3=[]
l1=[]
for i in lis2:
    l2=[]
    for j in lis1:
        l2.append(at[i][j])
        
    p=l2[0]
    n=l2[1]
    I_G = - ( (p/(p+n)) * np.log2(p/(p+n))  +  (n/(p+n)) * np.log2(n/(p+n) )   )
    E=(p+n)/total_sum
    I_G_Total_3.append(I_G*E)
   
    l1.append((l2,I_G*E))

In [267]:
I_G_Total_3

[0.4, 0.6]

# Finding the gain of each attributes

In [268]:
my_dic={"age":I_G_Total_1,"comp":I_G_Total_2,"type":I_G_Total_3}

In [269]:
final=(pd.DataFrame.from_dict(my_dic,orient="index")).T

In [270]:
final=final.fillna(0)

In [271]:
final=final.T

In [272]:
final["sum"]=final.sum(axis=1)

In [273]:
final["gain"]=I_G_target-final["sum"]

In [274]:
final

             0         1    2       sum      gain
age   0.400000  0.000000  0.0  0.400000  0.600000
comp  0.550978  0.324511  0.0  0.875489  0.124511
type  0.400000  0.600000  0.0  1.000000  0.000000

Conclusion:
    
    
so in our model age will be root of 1st decision tree then comp will be the 2nd root of decision tree